# Don't lint the following
coverage
docs
snapshots
dist
node_modules
log
logs
mock
reports
stories
flow-typed
**/server/
packages/**/flow-typed/
packages/**/node_modules/
packages/web/server/
# Make sure to INCLUDE the following,
# because eslint ignores hidden/dotfiles by default.
.storybook
/src/static/libs/
out
