commands:
  01_get_nginx_conf_file:
    command: aws s3 cp s3://rwd-eb-int/00_elastic_beanstalk_proxy.conf  /home/ec2-user
container_commands:
  01_move_nginx_conf_file:
    command: mv -f /home/ec2-user/00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
  02_reload_nginx:
      command: "sudo service nginx reload"
  03_remove_config_file:
      command: "sudo rm -rf /home/ec2-user/00_elastic_beanstalk_proxy.conf"
