files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/100_nginx_config_changes.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            environment_name=`cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.container.environment_name'`
            sudo /usr/bin/aws s3 cp s3://rwd-eb-int/$environment_name/conf.d/00_elastic_beanstalk_proxy.conf  /home/ec2-user/
            sudo /usr/bin/aws s3 cp s3://rwd-eb-int/$environment_name/nginx.conf  /home/ec2-user/
            sudo rm -rf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
            sudo rm -rf /etc/nginx/nginx.conf
            sudo mv -f /home/ec2-user/00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
            sudo mv -f /home/ec2-user/nginx.conf /etc/nginx/conf.d/nginx.conf
            sudo service nginx reload