files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/100_nginx_config_changes.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sudo /usr/bin/aws s3 cp s3://rwd-eb-int/00_elastic_beanstalk_proxy.conf  /home/ec2-user/
            sudo rm -rf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
            sudo mv -f /home/ec2-user/00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/
            sudo service nginx reload