files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/200_appd_install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sudo yum install -y jq
            environment_name=`cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.container.environment_name'`
			APPD_ENABLED=`cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq '.optionsettings."aws:elasticbeanstalk:application:environment"' | grep RWD_APPD_ENABLED | cut -d "=" -f2 | cut -d "\"" -f1`
			isAppDruning=`ps -aef | grep appdynamics | grep -v "grep" | wc -l`
            if [ $isAppDruning == "1" ]; 
            then
                echo "AppD agent already runing"
            else
                if [ $APPD_ENABLED == "true" ]
                then
                   echo "Installing AppD agent"
                   sudo mkdir /tmp/appdynamics-agent
                   sudo cd /tmp/appdynamics-agent/
                   sudo aws s3 cp s3://rwd-eb-int/appdynamics-agents/ . --recursive
                   sudo rpm -ivh appdynamics-machine-agent-4.5.16.2357.x86_64.rpm
                   #copy controller file to /opt/appdynamics/machine-agent/conf/controller-info.xml
                   sudo sed -i "s|<unique-host-id>.*<\/unique-host-id>|<unique-host-id>$environment_name<\/unique-host-id>|g" controller-info.xml
                   sudo /bin/cp controller-info.xml /opt/appdynamics/machine-agent/conf/controller-info.xml
                   #make changes to hosts file
                   sudo sed -i "s|ipaddress|$HOSTNAME|g" hosts
                   sudo /bin/cp hosts /etc/hosts
                   sudo service appdynamics-machine-agent start
                fi
            fi