.dark-overlay {
  display: none;
  background-color: #1a1a1a;
  position: absolute;
  top: 157px;
  z-index: 1;
  height: calc(100% - 157px);
  opacity: 0.6;
  width: 100%;
}

@media (min-width: 768px) {
  .dark-overlay {
    top: 111px;
  }
}

@media (min-width: 1024px) {
  .dark-overlay {
    display: none !important;
  }
}
